@font-face {
    font-family: 'vignesh-medium';
    src: url('vignesh-medium.ttf');
}
@font-face {
    font-family: 'vignesh-bold';
    src: url('vignesh-bold.ttf');
}
@font-face {
    font-family: 'vignesh-black';
    src: url('vignesh-black.ttf');
}